h1 {
    display: block;
    color: darkblue;
    font-size: 2em;
    border-style: outset;

    margin-left: 20px;
    border-color: dimgrey;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;

}

li{
    display: list-item;
    font-size: 1.5em
    text-align: left;



}
legend{
    font-size: 19px;

}
ol{
    margin-left: auto;
}