h1{
background-color: darkorange;
    text-align: center;
    color: white;
    font-style: oblique;
}
html{
    background-color:lightskyblue ;
}
body{
    background-color:white;
}

label{
    width: 80px;
    float: left;
    text-align: right;
    padding-right: 10px;
}
.margin{
    float: left;
}
.label{
    float: left;
    width: auto;
    display: flex;
    flex-direction: column;
}
.check{
    display: flex;
    flex-direction: column;
}