td{
    width: 10px;
    height: 10px;
    padding: 5px;
    margin: 10px;
    border: solid green;
    padding-top: 30px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}
th{

    width: 100%;
    padding-top: 15px;
}
table{
    width: 20%;
    margin-left: 600px;
    border: solid;
    border-spacing: 10px;
    height: 500px;
    background-color: beige;
}

#display{
    width: 97%;
    height: 100px;
    border: solid;
    font-size: 50px;
}