canvas{
    background-color: #a9a9a9;
    border: #a9a9a9;
    margin-left: 500px;
    margin-top: 50px;
}
div{
    float: right;
    margin-right: 700px;
    margin-top: 240px;
    font-size: 26px;
    font-family: "Lucida Console", Courier, monospace;
}

